<h1>Carrito de compras</h1>

{% if carrito %}
<script>
  function calcularTotal() {
    var total = 0;
    var inputs = document.querySelectorAll('input[nombre^="cantidad_"]');
    inputs.forEach(function(input) {
      var itemId = input.getAttribute('data-item-id');
      var itemprecio = parseFloat(input.getAttribute('data-item-precio'));
      var cantidad = parseInt(input.value);
      total += itemprecio * cantidad;
    });
    document.getElementById('total').innerText = '$' + total.toFixed(0);
  }
</script>

<form method="POST" action="{% url 'realizar_compra' %}">
  {% csrf_token %}
  <ul>
    {% for item in carrito %}
      <li>
        {{ item.nombre }} - ${{ item.precio }} - Cantidad:
        <input type="number" nombre="cantidad_{{ item.pk }}" data-item-id="{{ item.pk }}" data-item-precio="{{ item.precio }}" value="{{ item.cantidad }}" min="0" onchange="calcularTotal()">
        <input type="hidden" nombre="product_id_{{ item.pk }}" value="{{ item.pk }}">
        <a href="{% url 'quitar_del_carrito' item.pk %}">Quitar</a>
      </li>
    {% endfor %}
  </ul>
  <p>Total: <span id="total">$0</span></p>
  <input type="submit" value="Comprar" onclick="return confirm('¿Estás seguro de que deseas realizar la compra?\n\nTotal: $' + document.getElementById('total').innerText + ' ?')">
</form>

{% else %}
  <p>No hay productos en el carrito.</p>
{% endif %}
<a href="{% url 'compra' %}">Continuar Comprando</a>
