<h1>Lista de productos</h1>

<a href="{% url 'product_create' %}">Crear producto</a>

<form method="GET" action="{% url 'product_list' %}">
  <input type="text" nombre="search" placeholder="Buscar por nombre" value="{{ request.GET.search }}">
  <button type="submit">Buscar</button>
</form>

<ul>
  {% for product in page_obj %}
    <li>
      {{ product.nombre }} -  valor ${{ product.precio }} - stock disponible {{ product.cantidad }} 
      <a href="{% url 'product_update' product.pk %}">Editar</a>
      <a href="{% url 'product_delete' product.pk %}">Eliminar</a>
    </li>
  {% empty %}
    <li>No hay productos.</li>
  {% endfor %}
</ul>

{% if page_obj.has_other_pages %}
  <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&laquo; Primera</a>
      <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Anterior</a>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <span class="current-page">{{ i }}</span>
      {% else %}
        <a href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Siguiente</a>
      <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Última &raquo;</a>
    {% endif %}
  </div>
{% endif %}
